@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  header .row .col-md-7 {
    
    padding: 2vmin 1vmin;
    padding-bottom: 5vmin;
    
  }
  header .row .col-md-5 img {
    width: 100%;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
    background: url("./assets/infra/gmc3.jpg");
    background-position: center;
    background-size: 200%;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
  footer .row-pl-0 .input-group{
    width: 80%;
  }

  footer iframe{
    width: auto;
  }

  .common-btn{
    padding: 8px 30px;
    font-size: 10px;
    height:80px;
    border-radius: 1rem;
    margin: 20px;
  }
  .flx-nm{
    flex: 3;
    padding: 0 10px; 
  }
  .flx-ph{
    flex: 2;
    padding: 0 10px;
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}
