@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

header .row .col-md-7 {
 
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  padding-left: 5em;
  
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 120%;
}

header {
  background: #ff512f;
  /* fallback for old browsers */
  background: var(--bggradient);
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;

}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
    background-image: url("./assets/panel.png");
		background-position:top;
		background-repeat:no-repeat;
    background-size: 100%;
    
    
}
@media(max-width: 975px){
  .section-1 .row .col-md-6 .panel{
    background-image:  none;
  }
}
.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}
.section-1 .row .col-md-6 .panel h2{
  font-size: 1em;
  color: #2e2c2c;
  margin-left: 40px;
}
.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: #222222;
}

/*  Section 2  */

.cover {
  width: 100%;
  height: 55vmin;
  background: url("./assets/infra/gmc4.jpg");
  background-position: -20rem -15rem;
  background-size: 150%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect > p {
  font-family: var(--Patua);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}
.wrapper2{
  display: flex;
justify-content: center;
width: auto;
text-align: center;
flex-wrap: wrap;
}
.ct-btn{
    border-radius: 2rem;
    font-weight: bold;
    left: 0;
}
.container3
{   display: flex;
    justify-content: center;
	width: 1280px;
  margin: 70px auto 0;
  margin-bottom: 5em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container3 .box
{
	position: relative;
	width: 300px;
	height: 150px;
	background: #ff0;
	margin: 20px;
	box-sizing: border-box;
	display: inline-block;
	box-shadow: 0 30px 30px rgba(0,0,0,.5);
}
.container3 .box .imgBox
{
	position: relative;
	overflow: hidden;
}
.container3 .box .imgBox img
{
	max-width: 100%;
	transition: transform 2s;
}
.container3 .box:hover .imgBox img
{
	transform: scale(1.2);
}
.container3 .box .details
{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;
}
.container3 .box:hover .details
{
	transform: scaleY(1);
}
.container3 .box .details .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container3 .box .details .content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #ff0;
}
.container3 .box .details .content p
{
	margin: 10px 0 0;
	padding: 0;
}
/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 5vmin;
  background: url("./assets/infra/gmc3.jpg");
  background-position: center;
  background-size: 100%;
  /*background: var(--bggradient);*/
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: rgb(255, 255, 255);
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group {
  
  margin-bottom: 1em;
}
footer .input-group-text {
  background: var(--bggradient);
  border: none;
}
footer .column i {
  color: #dd2476;
  margin: 2em;
}


footer form input{
  margin: 5px;
}

footer .row{
  display: flex;
}

.msg{
  height: 100px;
  flex-basis: 100%;
  padding: 0 50px;
  flex: 11;
}
.ct-form {
  display: flex;
  justify-content: flex-end;
}

.flx-nm{
  flex: 3;
  padding: 0 40px; 
}
.flx-ph{
  flex: 2;
  padding: 0 20px;
}
 .flx-el{
  flex: 2;
}
footer .column i + i {
  padding: 0 0.5em;
}
.ct-form-2{
  display: flex;
}
.common-btn{
  padding: 28px 50px;
  margin: 20px 10px;
  margin-left: 50px;
  background: transparent;
  text-align: center;
  outline: none;
  flex: 1;
  background: linear-gradient(to bottom, #dd2476, #ff512f) ;
  color: #ddd;
  border: 2px solid ;
  height: max-content;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

#topBtn{
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 22px;
	width: 50px;
	height: 50px;
  background: linear-gradient(to bottom, #dd2476, #ff512f) ;
	color: white;
	border: none;
	cursor: pointer;
	display: none;
  }
